.place__paragraph {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:not(:last-child) {
  margin-bottom: 26px;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    padding: 0;
    width: 352px;
  }

  .place__paragraph:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
    width: 288px;
  }

  .place__paragraph:not(:last-child) {
    margin-bottom: 25px;
  }
}
