 /* .lead__karta {
    max-width: 100%;
    width: 100%;
    margin-top: 64px;
    max-width: 224.59px;
    min-height: 886px;



  }


   @media screen and (max-width: 1279px) {
    .lead__karta {
      margin-top: 56px;
    }
  }

  @media screen and (max-width: 767px) {
    .lead__karta {
      margin-top: 40px;
    }
  }  */